* {
  margin: 0px;
  padding: 0px;
}

.content-title {
  padding-bottom: 30px;
  text-align: left;
}

.h4 {
  text-align: left;
  padding-bottom: 30px;
}

.paragraph-content {
  text-align: left;
}

.title {
  padding-top: 100px;
}

.golden {
  padding-top: 100px;
}
