@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: black;
}

.story-title {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  padding-top: 30px;
}

.footer {
  padding-bottom: 50px;
  padding-left: 100px;
}
